# dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# production
dist
build

# environment variables
.env
.env.local
.env.*.local

# editor
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# misc
*.log
.cache
